
    .tienda_card {
      display:inline-flex;
      gap: 16px;
      align-items: center;
      border: 4px solid black;
      border-radius: 25px;
      padding: 16px;
      margin: 10px;
      width: 40%;
      background: #FF0505;
    }

    .tienda_image {
      padding: 3px;
      border: 4px solid black;
      height: 20%;
      width: 20%;
      background-color: white;
      border-radius: 10px;
    }

    img{
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    .tienda_text {
      flex: 1; 
    }

