.calc-container {
    display: inline-block;
    background-color: #000000;
    transform: skew(25deg);
    border: solid #ffffff;
    padding: 15px;
}

.calc-text {
    font-family: 'P5-menu';
    font-size: xx-large;
    color: white;
    font-weight: 900000;
    letter-spacing: 2px;
    transform: skew(-25deg);
}

.calc-icon {
    position: relative;
    transform: rotate(-20deg);
    left: 1%;
    bottom: 40px;
    width: 4%;
    height: auto;
    object-fit: contain;
    z-index: 1;

}

.vs {
    color: #ffffff;
    font-family: 'P5-menu';
    font-size: 3.1rem;
    margin-top: 10px;
    font-weight: bold;
}

.calculate-button {
    display: inline-block;
    background-color: #000000;
    transform: skew(25deg);
    border: solid #ffffff;
    padding: 15px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    cursor: pointer;
}

.calculate-text {
    font-family: 'P5-menu';
    font-size: xx-large;
    color: white;
    font-weight: 900000;
    letter-spacing: 2px;
    transform: skew(-25deg);
}

.calculate-button:hover {
    transform: scale(1.03), skew(25deg);
    box-shadow: 8px 8px 0 #aa2828;
}

.loading {
    font-family: 'P5-menu';
    font-size: xx-large;
    color: white;
    font-weight: 900000;
    letter-spacing: 2px;
    transform: skew(-25deg);
}

.dot {
    animation: wave 1.2s infinite ease-in-out;
    display: inline-block;
}

.dot1 {
    animation-delay: 0s;
}

.dot2 {
    animation-delay: 0.2s;
}

.dot3 {
    animation-delay: 0.4s;
}

@keyframes wave {

    0%,
    60%,
    100% {
        transform: translateY(0);
    }

    30% {
        transform: translateY(-8px);
        /* height of the wave */
    }
}