.tiendas-container {
  display: flex;
  justify-content: center; 
  align-items: flex-end;   
  gap: 20px;      
  height: 43%;      
  padding-bottom: 10px;    
  box-sizing: border-box;
}

@media (max-width: 600px) {
  .tiendas-container {
    flex-wrap: wrap;
    align-items: center;
    height: auto;
    padding: 20px 0;
  }
}

.contenedor_buscador{
    padding-top: 10%;
}

.logo{
    width: 50%;
    height: auto;
    display: block;
    object-fit: contain;
    align-items: center;
}

.banner{
    justify-content: center; 
    display: flex;
    background-color: black;
    padding: 10px;
}