/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; background-image: url('/assets/background.jpeg');}
@font-face {
  font-family: 'P5-menu';
  src: url('/assets/fonts/Persona5MenuFontPrototype-Regular.ttf');
}
@font-face {
  font-family: 'P5-hatty';
  src: url('/assets/fonts/p5hatty.ttf');
}

@font-face {
  font-family: 'Heavyhea';
  src: url('/assets/fonts/HEAVYHEA.TTF');
}

@font-face {
  font-family: 'Expose';
  src: url('/assets/fonts/Expose-Regular.otf');
}
