.font-style{
    font-family: P5-hatty;
    font-size:xx-large;
    color: #ffffff;
    background-color: #000000;
    padding: 5%;
    border-radius: 5px;
    transform: rotate(3deg);
    display: flex;
    margin: 1%;
}

.font-style:hover{
    color: red;
}

.level{
    color: #000000;
    background-color: red;
    padding: 10%;
    padding-right: 30%;
    clip-path: polygon(12% 12%, 82% 14%, 75% 37%, 85% 54%, 68% 61%, 59% 82%, 2% 74%);
}

.level:hover{
    color: white;
}